.scrollable {
	height: 500px;
	overflow: auto;
}
.admin-row {
	margin-bottom: 10px;
}

.admin-p {
	margin-bottom: 0px;
}

.admin-logout {
	margin-top: 5px;
}
.bio-scrollable {
	height: 400px;
	overflow: auto;
}

.author-header {
	margin-top: 10px;
}

.edit-row {
	text-align: left;
}
.nav>li {
    margin-left: 30px;
    margin-right: 0;
    padding: 0;
    margin-top:5px;
    margin-bottom:5px;
}
.carousel-text {
	padding-left:30px;
	padding-right:30px;
	height: 100px;
}
.carousel-review-link {
	padding-right:27px;
}
.carousel-control {
	width: 30px;
}
.navbar {
	margin-bottom: 5px
}